{% set configCalendar = {
        'scriptphp_events': path('events_getevents', {'idproject':idproject}),
        'collapse': false,
        'eventclick': {'event':{'url':path('events_viewevent', {'id':'00000'}), 'urlopenintab':true }},
        'dayclick': {'url':path('events_insertevent', {'idproject':idproject,'date':'PARAMDATE'}), 'urlopenintab':true  },
        'viewopts':'listYear,month',
        'id': 'calendar' }
%}

{% include 'BEInterfaceBundle:_Scripts:calendar.html.twig' %}
