{#
    Pacolmg
    Greetik Soluciones SL
    view the events table
#}
{%
    set configTable = {
    'id': 'event', 
    'title': 'Eventos', 
    'icon':'calendar',
    'aaSorting': "[[ 1, 'desc' ]]",
    'noOptions':true,
    'viewdata': {'url': 'events_viewevent'},
    'fields': {'title': {'title': 'Título', 'link_view': true}, 'fromdate': {'title': 'Inicio'}} 
   }
                              
%}

{% if insertAllow %}{% set configTable = configTable|merge( {'insertdata': {'url': path('events_insertevent', {'idproject': idproject})}}) %}{% endif %}

{% include 'BEInterfaceBundle:_Modules:viewtablescript.html.twig' %}
