



{%
                set configForm = {
                    'id' : 'insertevent',
                    'pathaction': path('events_insertevent', {'idproject':idproject}),
                    'pathcancel': path('events_listevents', {'idproject':idproject}),
                    'title': 'Event',
                    'icon': 'calendar'
                }
%}
{% embed 'BEInterfaceBundle:_Modules:insertform.html.twig' %}
    {% block formcontent %}
        {% include('BEInterfaceBundle:_Default:errorfromflash.html.twig') %}           
        {% include('EventsBundle:Default:forminsert.html.twig') %}                       
        {{ form_widget(new_form._token) }}
    {% endblock %}                    
{% endembed %}