
{% set idfield = 'event_body' %}
{% include 'BEInterfaceBundle:_Scripts:texteditor.html.twig' %}    

{% set fieldstodatetime = '.datetimepicker' %}
{% include 'BEInterfaceBundle:_Scripts:datetime.html.twig' %}    

{% set fieldstoselect = '.select2' %}
{% include 'BEInterfaceBundle:_Scripts:select.html.twig' %}    

{% set fieldstocolor = '.colorpicker' %}
{% include 'BEInterfaceBundle:_Scripts:color.html.twig' %}    

