{#
    Pacolmg
    Greetik Soluciones SL
    view the events table
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}


{% block subtitle %}Eventos - {% endblock %}
{% set titlecontent = 'Eventos'  %}
{% set subtitlecontent = 'Seleccione uno del listado de eventos para ver su detalle' %}
{% set breadcrumb = [{'title': 'Eventos' , 'link': path('events_listevents', {'idproject': idproject}), 'icon': 'calendar'}] %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}

{% block maincontent %}
    <div class="row">
        <div class="col-md-6">
            {% include 'EventsBundle:Default:index.html.twig' %}
        </div>
        <div class="col-md-6">
        {% include 'EventsBundle:Default:indexcalendar.html.twig' %}
        </div>
        <div class="clearfix"></div>
    </div>

{% endblock %}