{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}Nuevo Evento - {% endblock %}
{% set titlecontent = 'Nuevo Evento' %}
{% set subtitlecontent = 'Rellene los campos para insertar un evento '%}
{% set breadcrumb = [{'title': 'Eventos', 'link': path('events_listevents', {'idproject':idproject}), 'icon': 'calendar'}, {'title': 'Nuevo', 'link': path('events_insertevent', {'idproject':idproject}), 'icon': 'calendar'}] %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}

{% block maincontent %}
    {% include('EventsBundle:Default:insert.html.twig') %}                       
{% endblock %}         

{% block additionalscripts %}
    {{ parent() }}
    {% include('EventsBundle:Default:insertscripts.html.twig') %}

{% endblock %}