{#
    Pacolmg
    Greetik Soluciones SL
    view the detail of an event
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}{{ item.title }} - Evento - {% endblock %}
{% set titlecontent = 'Evento'%}
{% set subtitlecontent = 'Edite los datos de '~item.title ~' desde aquí' %}
{% set breadcrumb = [{'title': 'Eventos', 'link': path('events_listevents', {'idproject':item.project}), 'icon': 'calendar'}, {'title': item.title, 'link': path('events_viewevent', {'id':  item.id}), 'icon': 'calendar'}] %}

{% block maincontent %}
    <!-- BEGIN PAGE CONTENT-->
    <div class="row profile">
        <div class="col-md-12">
            <!--BEGIN TABS-->
            <div class="tabbable tabbable-custom tabbable-full-width">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1_1" data-toggle="tab">Evento</a></li>
                    {% if modifyAllow == true %}<li><a href="#tab_1_3" data-toggle="tab">Editar</a></li>{% endif %}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12 profile-info">
                                        {% include('EventsBundle:Default:view.html.twig') %}
                                    </div>
                                    <!--end col-md-12-->
                                </div>
                                <!--end row-->
                            </div>
                        </div>
                    </div>

                    {% if modifyAllow == true %}
                        <!--tab_1_2-->
                        <div class="tab-pane" id="tab_1_3">
                            <div class="row profile-account">
                                <div class="col-md-3">
                                    <ul class="ver-inline-menu tabbable margin-bottom-10">
                                        <li class="active">
                                            <a data-toggle="tab" href="#tab_1-1">
                                                <i class="fa fa-cog"></i> 
                                                Datos
                                            </a> 
                                            <span class="after"></span>                                    
                                        </li>
                                        <li class="">
                                            <a data-toggle="tab" href="#tab_1-2">
                                                <i class="fa fa-map-marker"></i> 
                                                Lugar
                                            </a> 
                                            <span class="after"></span>                                    
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-9">
                                    <div class="tab-content">
                                        <div id="tab_1-1" class="tab-pane active">
                                            {% include('EventsBundle:Default:modify.html.twig') %}
                                        </div>
                                        <div id="tab_1-2" class="tab-pane">
                                            <div style="height:300px; width:100%;" id="map_canvas"></div>
                                            {% set configMarker = {
                                                 'getpath': path('events_geteventposition', {'id':item.id}),
                                                 'savepath': path('events_saveeventposition', {'id':item.id}),
                                                 'tab': 'tab_1-2',
                                                 'mapcanvas': 'map_canvas'
                                               }
                                            %}
                                            {% include('BEInterfaceBundle:_Scripts:mapposition.html.twig') %}
                                        </div>
                                    </div>
                                </div>
                                <!--end col-md-9-->                                   
                            </div>
                        </div>
                    {% endif %}
                    <!--end tab-pane-->
                </div>
            </div>
            <!--END TABS-->
        </div>
    </div>
    <!-- END PAGE CONTENT-->
{% endblock %}

{% block additionalscripts %}
    {{ parent() }}
    {% include('EventsBundle:Default:insertscripts.html.twig') %}
{% endblock %}    